.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.animateBounce {
  animation: animateBounce 4s ease-in-out infinite;
}

@keyframes animateBounce {
  0% {
    transform: translate(0, 0) rotate(-2deg);
  }
  50% {
    transform: translate(0, 100px) rotate(5deg);
  }
  100% {
    transform: translate(0, 0) rotate(-2deg);
  }
}
